* {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
    font-family: sans-serif;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

form{
    font-family: arial;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form input, form textarea{
outline: unset;
padding: 20px;
width: 300px;
border: 1px solid cornflowerblue;
border-radius: 20px;
}

form input:focus, form textarea:focus{
    background-color: rgb(124, 240, 139);
}

form input[type-submit] {
background-color: cornflowerblue;
color: white;
cursor: pointer;
}

form label{
    margin-left: 10px;
}
